<div class="modal-header">
  <h4 class="modal-title pull-left">Create Trader Bot</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="alert alert-warning"><b>Important!</b> Use just one API key for one bot.</div>
  <div class="row">
    <label class="col-md-12">Name</label>
    <div class="col-md-12">
      <input type="text" class="form-control" [(ngModel)]="trader.name" />
    </div>
  </div>
  <div class="row">
    <label class="col-md-12">Stock</label>
    <div class="col-md-12">
      <ng-select
              [items]="stock_exchange_select"
              [active]="value_stock_select"
              (selected)="selectedStock($event)"
              placeholder="No stock selected">
      </ng-select>
    </div>
  </div>
  <div class="row">
    <label class="col-md-12">API key</label>
    <div class="col-md-12">
      <input type="text" class="form-control" [(ngModel)]="trader.api_key" />
    </div>
  </div>
  <div class="row">
    <label class="col-md-12">API secret</label>
    <div class="col-md-12">
      <input type="password" class="form-control" [(ngModel)]="trader.api_secret" />
    </div>
  </div>
  <div class="row">
    <label class="col-md-12">Currency Pair</label>
    <div class="col-md-12">
      <ng-select
              [items]="currency_pair_select"
              [active]="value_currency_pair_select"
              (selected)="selectCurrencyPair($event)"
              placeholder="No currency selected">
      </ng-select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="create()">Create</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>