<div class="col">&nbsp;</div>
<div class="col">
  <div class="row">

<div class="col-md-9">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Bots List
          <div (click)="createBot()"
            class="btn btn-outline-success btn-sm pull-right"><i class="fa fa-plus text-success"></i> Add</div>
        </div>
        <div class="card-body">
          <div class="list-group">
            <a *ngFor="let bot of traderBotList; let i = index"
                (click)="selectBot(i)"
                [ngClass]="{'active' : selectedBotIndex == i}"
                href="javascript:void(0)" class="list-group-item"
              >#{{bot.id}} {{bot.name}} [{{bot.currency_pair}}] <i (click)="removeBot(bot.uid); $event.stopPropagation()" class="fa fa-remove text-danger pull-right"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Indexes
        </div>
        <div class="card-body">
          <div class="list-group">
            <ul>
              <li *ngFor="let index_item of index_list;">{{getTrigetIndexName(index_item.uid)}}: {{index_item.value}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          &nbsp;<span *ngIf="selectedBot">{{selectedBot.name}} ({{selectedBot.stock_id}}) - [{{selectedBot.currency_pair}}]</span>
          <div class="pull-right">7d: <span
              [ngClass]="{'text-success' : change7d > 0,'text-danger' : change7d < 0}">{{change7d.toFixed(2)}}%</span></div>
          <div class="pull-right">24h: <span
              [ngClass]="{'text-success' : change24h > 0,'text-danger' : change24h < 0}">{{change24h.toFixed(2)}}%</span>,&nbsp;</div>
          <div class="pull-right">1h: <span
              [ngClass]="{'text-success' : change1h > 0,'text-danger' : change1h < 0}">{{change1h.toFixed(2)}}%</span>,&nbsp;</div>
          <div class="pull-right"><i class="fa fa-eye"></i> <span
              [ngClass]="{'text-success' : change_pretioction_time > 0,'text-danger' : change_pretioction_time < 0}">{{change_pretioction_time.toFixed(2)}}%</span>,&nbsp;</div>
        </div>
        <div class="card-body">
          <div [ng2-highstocks]="chartStock" class="graph"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Manual Open Order
        </div>
        <div class="card-body">
          <div class="list-group">
            <div class="row">
              <label class="col-md-5">Price:</label>
              <div class="col-md-7">
                <input type="text" [(ngModel)]="orderPrice" class="form-control form-control-sm" placeholder="10" />
              </div>
            </div>
            <div class="row">
              <label class="col-md-5">Amount:</label>
              <div class="col-md-7">
                <input type="text" [(ngModel)]="orderAmount" class="form-control form-control-sm" placeholder="20" />
              </div>
            </div>
            <div class="row">
              <label class="col-md-5">Total:</label>
              <div class="col-md-7">
                <input type="text" [(ngModel)]="orderTotal" class="form-control form-control-sm" placeholder="30" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="margin-top:14px;">
                <button class="btn pull-right"
                  [ngClass]="{
                    'btn-light' : orderPrice >= prediction_average,
                    'btn-success' : orderPrice < prediction_average,
                    'disabled' : !orderPrice || !orderAmount
                  }"
                  (click)="traderAddOrderBuy()"
                >
                  <i class ="fa fa-plus"></i>&nbsp;Buy [{{trading_coin_code}}]
                </button>
                <button class="btn btn-light"
                [ngClass]="{
                  'btn-light' : orderPrice <= prediction_average,
                  'btn-success' : orderPrice > prediction_average,
                  'disabled' : !orderPrice || !orderAmount
                }"
                  (click)="traderAddOrderSell()"
                >
                  <i class ="fa fa-minus"></i>&nbsp;Sell [{{trading_coin_code}}]
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Balance
        </div>
        <div class="card-body">
          <ul *ngIf="balances">
            <li>Trading [{{trading_coin_code}}]: <a (click)="orderAmount=balances.trading" style="cursor:pointer;">{{balances.trading||0}}</a></li>
            <li>Source [{{source_coin_code}}]: <a (click)="orderTotal=balances.source" style="cursor:pointer;">{{balances.source||0}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Order Book Depth</div>
        <div class="card-body">
          <div [ng2-highcharts]="orderBookDepth" class="graph"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Bot Current Orders
        </div>
        <div class="card-body">
          <div class="list-group">
            <a *ngFor="let order of open_orders"
                href="javascript:void(0)" class="list-group-item"
              >
              <button class="btn btn-outline-danger btn-sm pull-right" (click)="traderCancelOrder(order.orderNumber)"><i class ="fa fa-remove text-danger"></i>&nbsp;Cancel</button>
              <span>[<i class ="fa" [ngClass]="{
                'fa-plus' : order.type == 'buy',
                'fa-minus' : order.type == 'sell'
              }"></i>&nbsp;{{order.type}}]&nbsp;</span>
              #{{order.orderNumber}}<br>
              Rate:&nbsp;  {{order.rate}}<br>
              Amount:&nbsp;{{order.amount}}<br>
              Total: &nbsp;{{order.total}}<br>
              Date: &nbsp; {{timestampToUtcDate(order.date)}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Trade History
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <tr>
              <th style="width:20px;"></th>
              <th>Amount</th>
              <th>Rate</th>
              <th>Total</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let trade of trade_history">
              <td><i class ="fa" [ngClass]="{
                'fa-plus text-success' : trade.type == 'buy',
                'fa-minus text-danger' : trade.type == 'sell'
              }"></i></td>
              <td><span tooltip="Fee: {{(+trade.fee * +trade.amount).toFixed(8)}} ({{+trade.fee * 100}}%)" placement="bottom">{{trade.amount}}</span></td>
              <td>{{trade.rate}}</td>
              <td>{{trade.total}}</td>
              <td>{{timestampToUtcDate(trade.date)}}</td>
            <tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
  
</div>
<div class="col-md-3">
  <div class="card">
    <div class="card-header">
      Options <span *ngIf="selectedBot">[{{selectedBot.name}} ({{selectedBot.stock_id}}) {{selectedBot.currency_pair}}]</span>
    </div>
    <div class="card-body">
      <div class="card border-info">
        <div class="card-body">
          <div class="row">
            <label class="col-md-7">Name</label>
            <div class="col-md-5">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="botName" />
            </div>
          </div>
          <div class="row">
            <label class="col-md-7">API key</label>
            <div class="col-md-5">
              <input type="text" class="form-control form-control-sm" [ngModel]="botApiKey" disabled />
            </div>
          </div>
        </div>
      </div>
      <prediction-content [bot-config]="selectedBot.bot_config"></prediction-content>
      <hr>
      <div class="row">
        <label class="col-md-12">&nbsp;</label>
        <div class="col-md-12">
          <button type="button" class="btn btn-success" (click)="updateBotSettings()">
              Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>