<div class="loading" id="loaderWait">Loading&#8230;</div>
<div class="col">
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">home</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/currency-monitor">Currency Monitor</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/radar-chart-currency">Charts</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/cyclic-exchange">Cyclic Exchange</a></li>
  <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/trader-bot-manager">Trader Bot Manager</a></li>
</ul>
</div>

<router-outlet></router-outlet>