<p>
  radar-chart-currency works!
</p>
<table width="100%">
  <tr>
    <td>
      <!-- <div style="display: block;"> -->
        <!-- <canvas baseChart -->
              <!-- [datasets]="radarChartData" -->
              <!-- [labels]="radarChartLabels" -->
              <!-- [chartType]="radarChartType" -->
              <!-- (chartHover)="chartHovered($event)" -->
              <!-- (chartClick)="chartClicked($event)"></canvas> -->
      <!-- </div> -->
    </td>
    <td>
      <div style="display: block;" width="400" height="250">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </td>
  <tr>
</table>