<div class="col-md-12">
<p>
  radar-chart-currency works!
</p>

<div style="margin-bottom: 20px;">
 <div class="row">
   <div class="col-md-3">
      <div class="row">
        <label class="col-md-12">Select Stock</label>
        <div class="col-md-12">
          <ng-select
                  [items]="stock_exchange_select"
                  [active]="stock_exchange_select"
                  (data)="refreshStock($event)"
                  (selected)="selected($event)"
                  (removed)="removed($event)"
                  (typed)="typed($event)"
                  placeholder="No cyrrency selected">
          </ng-select>
        </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="row">
        <label class="col-md-12">Select a Currency</label>
        <div class="col-md-12">
          <ng-select
                  [items]="items_select"
                  [active]="items_select"
                  (data)="refreshValue($event)"
                  (selected)="selected($event)"
                  (removed)="removed($event)"
                  (typed)="typed($event)"
                  placeholder="No cyrrency selected">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <label class="col-md-12">Select a depth</label>
        <div class="col-md-12">
          <input type="number" class="form-control" [(ngModel)]="chartDepthV" />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <label class="col-md-12">Throttle (seconds)</label>
        <div class="col-md-12">
          <input type="number" class="form-control" [(ngModel)]="chartThrottleV" />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <label class="col-md-12">Grouping / Decimals</label>
        <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-secondary pull-right"
                    [(ngModel)]="chartGroupingV" btnCheckbox
                    btnCheckboxTrue="1" btnCheckboxFalse="0" ngDefaultControl>
                    {{chartGroupingV === '1' ? 'Enable' : 'Disable'}}
                </button>
              </span>
              <input type="number" class="form-control" [(ngModel)]="chartGroupingDecimalsV" [disabled]="!_chartGrouping"/>
            </div><!-- /input-group -->
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="well well-sm" >
    <span [innerHTML]="value_select.text"></span>&nbsp;-&nbsp;(<span [innerHTML]="value_stock_select.text"></span>)
  </div>
</div>

<table width="100%">
  <tr>
    <td width="70%">
      <div [ng2-highcharts]="chartStock" class="graph"></div>
    </td>
    <td width="30%">
      <div style="display: block;" width="400" height="250">
        
      </div>
    </td>
  <tr>
</table>
</div>