<p>
  radar-chart-currency works!
</p>

<div style="width: 300px; margin-bottom: 20px;">
  <h3>Select a Cyrrency</h3>
  <ng-select [allowClear]="true"
              [items]="items"
              [disabled]="disabled"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)"
              placeholder="No city selected">
  </ng-select>
  <p></p>
  <pre>{{value.text}}</pre>
  <div>
    <button type="button" class="btn btn-primary"
            [(ngModel)]="disabledV" btnCheckbox
            btnCheckboxTrue="1" btnCheckboxFalse="0" ngDefaultControl>
      {{disabled === '1' ? 'Enable' : 'Disable'}}
    </button>
  </div>
</div>

<table width="100%">
  <tr>
    <td>
      <!-- <div style="display: block;"> -->
        <!-- <canvas baseChart -->
              <!-- [datasets]="radarChartData" -->
              <!-- [labels]="radarChartLabels" -->
              <!-- [chartType]="radarChartType" -->
              <!-- (chartHover)="chartHovered($event)" -->
              <!-- (chartClick)="chartClicked($event)"></canvas> -->
      <!-- </div> -->
    </td>
    <td>
      <div style="display: block;" width="400" height="250">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </td>
  <tr>
</table>