<div class="col-md-12">
  <table width="100%">
    <tr>
      <td width="90%">
        <div [ng2-highcharts]="chartStock" class="graph"></div>
      </td>
      <td width="10%">
        <div style="display: block;" width="400" height="250">
          
        </div>
      </td>
    <tr>
  </table>
</div>

<div class="col-md-2">
  <div class="row">
    <label class="col-md-12">Show TOP:</label>
    <div class="col-md-12">
      <input type="number" class="form-control" [(ngModel)]="topCoinLimitV" />
    </div>
  </div>
</div>
<div class="col-md-12">
  <table width="100%">
    <tr>
      <td width="90%">
        <div [ng2-highcharts]="chartCap" class="graph"></div>
      </td>
      <td width="10%">
        <div style="display: block;" width="400" height="250">
          
        </div>
      </td>
    <tr>
  </table>
</div>
