<p>
  currency-list works!
</p>

<div class="col-md-12">
  <table width="100%">
    <tr>
      <td width="90%">
        <div [ng2-highcharts]="chartStock" class="graph"></div>
      </td>
      <td width="10%">
        <div style="display: block;" width="400" height="250">
          
        </div>
      </td>
    <tr>
  </table>
</div>

<div class="col-md-12">
  <table width="100%">
    <tr>
      <td width="90%">
        <div [ng2-highcharts]="chartCap" class="graph"></div>
      </td>
      <td width="10%">
        <div style="display: block;" width="400" height="250">
          
        </div>
      </td>
    <tr>
  </table>
</div>
